@model BP_TPWA.Models.TreninkoveData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TreninkoveData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CisloSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CisloSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetOpakovani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetOpakovani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvicenaVaha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvicenaVaha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uzivatel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uzivatel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvik.CvikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
