@model IEnumerable<BP_TPWA.Models.TP>

@{
    ViewData["Title"] = "Index";


}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Odkazy na FullCalendar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.min.css" media="print" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

<script src="./js/cs.js"></script>

<h1>Tréninkový plán</h1>


<button id="vytvoritTP" onclick="vytvoritTP1()" class="btn btn-dark">VYTVOŘIT NOVÝ TRÉNINKOVÝ PLÁN</button>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Délka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DruhTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StylTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Délka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruhTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StylTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@




<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zadejte aktuální váhu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Zadejte aktuální váhu (kg) (př.: 82,3)</p>
                <div id="serieFormular" class="form-group">
                  @*   <label for="series">Zadejte aktuální váhu:</label> *@
                    <input type="number" class="form-control" id="vaha" min="0" max="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="feedbackButton" onclick="odeslatZpetnouVazbu()">Odeslat zpětnou vazbu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>

<div id="generovaniTlacitka" style="text-align: center; display: none;">
    <button type="button" class="btn btn-outline-dark" onclick="generovatTP()" style="margin: 20px;">Vygenerovat celý náhled tréninkového plánu</button>
    <button type="button" class="btn btn-outline-dark" onclick="generovatTPdny()" style="margin: 20px;">Vygenerovat pouze dny tréninků</button>
    <button type="button" class="btn btn-outline-dark" onclick="generovatTPtreninky()" style="margin: 20px;">Vygenerovat pouze tréninky</button>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>


 <script>
    function vytvoritTP1() {
            window.location.href = "/TP/Create";
    }

    function generovatTP() {
        window.location.href = "/TP/NahledPlanu";
    }

    function generovatTPdny() {
        window.location.href = "/TP/NahledPlanuDny";
    }

    function generovatTPtreninky() {
        window.location.href = "/TP/NahledPlanuTreninky";
    }

    var uzivatelData = @Html.Raw(Json.Serialize(ViewBag.Uzivatel));
    var datacviku = @Html.Raw(Json.Serialize(ViewBag.Datacviku));

    var treninkoveData = @Html.Raw(Json.Serialize(ViewBag.DenTreninku));
    var tpInfo = @Html.Raw(Json.Serialize(ViewBag.TP));
    
    var element = document.getElementById('generovaniTlacitka');
    var vytvoritTP = document.getElementById('vytvoritTP');
    if (uzivatelData[0].tpId !== null) {

        element.style.display = 'block';
        vytvoritTP.style.display = 'none';

        var staraVaha = uzivatelData[0].váha;
        var inputVaha = document.getElementById('vaha');
        inputVaha.value = staraVaha;

        // Nastavení min a max hodnoty váhy s odchylkou -10 a +10
        inputVaha.min = staraVaha - 10;
        inputVaha.max = staraVaha.váha + 10;

         if (tpInfo[0].aktualniVaha === false) {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
                    keyboard: false
                });
                myModal.show(); // Zobrazení modálního okna pomocí Bootstrap

                // Zavřít modální okno při kliknutí na ikonu zavřít (X)
                var closeBtn = modal.querySelector(".btn-close");
                closeBtn.onclick = function () {
                    $('#myModal').modal('hide')
                }

                // Zavřít modální okno při kliknutí mimo modální okno
                window.onclick = function (event) {
                    if (event.target == modal) {
                        $('#myModal').modal('hide');
                    }
                }
         }


            console.log(tpInfo);
            console.log(treninkoveData);
            var delkaTD = treninkoveData.length;
            var eventy = [];



            // Přidání dat do pole events
            for (var i = 0; i < delkaTD; i++) {
                var barva;
                switch (treninkoveData[i].typTreninku) {
                    case "Nohy":
                        barva = "#333333";
                        break;
                    case "Ramena + Biceps":
                        barva = "#555555";
                        break;
                    case "Záda":
                        barva = "#777777";
                        break;
                    case "Hrudník + triceps":
                        barva = "#999999";
                        break;
                    case "Kruhový trénink 1":
                        barva = "#333333";
                        break;
                    case "Kruhový trénink 2":
                        barva = "#555555";
                        break;
                    case "Kruhový trénink 3":
                        barva = "#777777";
                        break;
                    case "Kruhový trénink 4":
                        barva = "#999999";
                        break;
                    case "Legs":
                        barva = "#333333";
                        break;
                    case "Push":
                        barva = "#555555";
                        break;
                    case "Pull":
                        barva = "#777777";
                        break;
                    // Přidat další případy pro další typy tréninků a jejich barvy
                    default:
                        barva = "gray"; // Výchozí barva pro ostatní typy tréninků

                }
                    var idCvikuVPlanu = []; // Pole pro uchování cviků plánovaných pro tento trénink
                    var dobre = 1;
                    // Získání všech cviků plánovaných pro tento trénink
                    datacviku.forEach(function (zaznam) {
                        if (zaznam.datum.toString().substring(0, 10) === treninkoveData[i].datumTreninku.toString().substring(0, 10)) {
                            if (!idCvikuVPlanu.includes(zaznam.cvikId)) {
                                idCvikuVPlanu.push(zaznam.cvikId);
                            }
                        }
                    });
                    var cvikIdecka = treninkoveData[i].cviky.map(cvik => cvik.cvikId);
                    cvikIdecka = cvikIdecka.sort((a, b) => a - b);
                    idCvikuVPlanu = idCvikuVPlanu.sort((a, b) => a - b);

                    if (idCvikuVPlanu.length === cvikIdecka.length) {
                        // Provést požadovanou akci
                        for (let i = 0; i < idCvikuVPlanu.length; i++) {
                            if (idCvikuVPlanu[i] === cvikIdecka[i]) {

                            } else {
                                dobre = 0;
                            }
                        }
                        if (dobre === 1) {
                            barva = "#17E683";
                        }
                    }

                    eventy[i] = {
                        title: treninkoveData[i].typTreninku,
                        start: treninkoveData[i].datumTreninku,
                        allDay: true,
                        color: barva,
                        className: moment(treninkoveData[i].datumTreninku).format("YYYY-MM-DD")
                    };
            }
    
    $(document).ready(function () {

   

        function changeEventColor(event, color) {
            event.css("background-color", color);
        }

        $('#calendar').fullCalendar({
            locale: 'cs',
            header: {
                left: 'prev, next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },
            defaultView: 'month',
            eventClick: function (event) {
                // Přesměrování na jinou stránku po kliknutí na událost
                        var viewName = event.title.replace(' + ', '_').replace(' ', '_')
                        var dateParam = moment(event.start).format("YYYY-MM-DD");
                        window.location.href = '/Trenink/Trenink?date=' + dateParam; // Změňte URL podle vašich potřeb
                        // window.location.href = '/' + tpInfo[0].druhTP + tpInfo[0].stylTP + '/Trenink?date=' + dateParam; // Změňte URL podle vašich potřeb
                        // window.location.href = '/' + tpInfo[0].druhTP + tpInfo[0].stylTP + '/' + viewName + '?date=' + dateParam; // Změňte URL podle vašich potřeb
            },
            eventMouseover: function (event, jsEvent, view) {
                // Změna barvy při najetí myši
                        changeEventColor($(this), "#859199"); // Změňte barvu podle potřeby
            },
            eventMouseout: function (event, jsEvent, view) {
                // Vrácení původní barvy po opuštění myši
                changeEventColor($(this), event.color); // Vrácení původní barvy
            },
            events: eventy,
            firstDay: 1
        
        }
        )
    }
    )

    function odeslatZpetnouVazbu() {
        var novaVaha = document.getElementById("vaha").value;
        console.log(novaVaha);
        console.log(staraVaha);
        var dataVPohode = 1;
        if (novaVaha >= staraVaha) {
            if (novaVaha - 11 > staraVaha) {
                dataVPohode = 0;
            }
        } else {
            if (novaVaha + 11 > staraVaha) {
                dataVPohode = 0;
            }
        }
        if (dataVPohode === 0) {
            alert("Zadejte prosím pravdivé údaje.");
        }

        if (dataVPohode === 1) {

            var vahaData = [];
            vahaData.push({
                        Váha: novaVaha.toString()
            });

            console.log(vahaData[0].Váha);

            $.ajax({
                url: '/TP/AktualizaceVahy',
                type: 'POST',
                // contentType: 'application/json',
                data: vahaData[0],

                success: function (response) {
                    // Zde můžete zpracovat odpověď od serveru, pokud je to potřeba
                    console.log("osssss");
                    location.reload(true);
                },
                error: function (xhr, status, error) {
                    // Zde můžete zpracovat chyby, které se vyskytnou při odesílání dat na server
                    console.log("chyba");
                }
            });
        }
    }

    function generovatPDF1() {
        $.ajax({
            url: '/TP/PDFView',
            type: 'GET',
            success: function (response) {
                console.log("oss");
            },
            error: function (xhr, status, error) {
                // Zde můžete zpracovat chyby, které se vyskytnou při odesílání dat na server
                console.log("chyba p5i generovani ");
            }
        });
    }

    function generovatPDF() {
                window.location.href = "/TP/PDFView";
    }

    // Funkce pro stahování PDF
    function downloadPDF(pdfData) {
        // Vytvoříme nový objekt Blob ze získaných dat PDF
        var blob = new Blob([pdfData], { type: 'application/pdf' });

        // Vytvoříme URL objektu Blob
        var url = window.URL.createObjectURL(blob);

        // Vytvoříme nový odkaz na URL objektu Blob
        var a = document.createElement('a');
        a.href = url;
        a.download = 'Tréninkový_plán.pdf'; // Nastavíme jméno souboru pro stahování
        document.body.appendChild(a);

        // Simulujeme kliknutí na odkaz pro spuštění stahování
        a.click();

        // Po dokončení stahování odstraníme odkaz
        window.URL.revokeObjectURL(url);
    }
    }

</script> 


}
