@model IEnumerable<BP_TPWA.Models.TP>

@{
    ViewData["Title"] = "Index";


}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Odkazy na FullCalendar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.min.css" media="print" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

<script src="./js/cs.js"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Délka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DruhTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StylTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Délka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruhTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StylTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@* <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Zde se ptáme na aktuální váhu uživatele.</p>
    </div>
</div> *@

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zadejte aktuální váhu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Zadejte aktuální váhu (kg) (př.: 82,3)</p>
                <div id="serieFormular" class="form-group">
                  @*   <label for="series">Zadejte aktuální váhu:</label> *@
                    <input type="number" class="form-control" id="vaha" min="0" max="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="feedbackButton" onclick="submitFeedback()">Odeslat zpětnou vazbu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zadejte aktuální váhu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Zadejte aktuální váhu</p>
                <div id="serieFormular" class="form-group">
                    <label for="vaha">Zadejte aktuální váhu:</label>
                    <input type="number" class="form-control" id="vaha" min="60" max="100">
                    <button type="button" class="btn btn-success my-2" onclick="zmenitVahu()">Potvrdit série</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="feedbackButton" onclick="submitFeedback()">Odeslat zpětnou vazbu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div> *@

<div id="calendar"></div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>


 <script>
        var treninkoveData = @Html.Raw(Json.Serialize(ViewBag.DenTreninku));
        var tpInfo = @Html.Raw(Json.Serialize(ViewBag.TP));
        var uzivatelData = @Html.Raw(Json.Serialize(ViewBag.Uzivatel));
        console.log(uzivatelData[0].váha);

        var staraVaha = uzivatelData[0].váha;
        var inputVaha = document.getElementById('vaha');
        inputVaha.value = staraVaha;

        // Nastavení min a max hodnoty váhy s odchylkou -10 a +10
        inputVaha.min = staraVaha - 10;
        inputVaha.max = staraVaha.váha + 10;

     if (tpInfo[0].aktualniVaha === false) {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
                keyboard: false
            });
            myModal.show(); // Zobrazení modálního okna pomocí Bootstrap

            // Zavřít modální okno při kliknutí na ikonu zavřít (X)
            var closeBtn = modal.querySelector(".btn-close");
            closeBtn.onclick = function () {
                $('#myModal').modal('hide')
            }

            // Zavřít modální okno při kliknutí mimo modální okno
            window.onclick = function (event) {
                if (event.target == modal) {
                    $('#myModal').modal('hide');
                }
            }
     }
        console.log(tpInfo);
        var delkaTD = treninkoveData.length;
        var eventy = [];



        // Přidání dat do pole events
        for (var i = 0; i < delkaTD; i++) {

            var barva;
            switch (treninkoveData[i].typTreninku) {
                case "Nohy":
                    barva = "#333333";
                    break;
                case "Ramena + Biceps":
                    barva = "#555555";
                    break;
                case "Záda":
                    barva = "#777777";
                    break;
                case "Hrudník + triceps":
                    barva = "#999999";
                    break;
                // Přidat další případy pro další typy tréninků a jejich barvy
                default:
                    barva = "gray"; // Výchozí barva pro ostatní typy tréninků
            }


            eventy[i] = {
                title: treninkoveData[i].typTreninku,
                start: treninkoveData[i].datumTreninku,
                allDay: true,
                color: barva
            };
        }
    
$(document).ready(function () {

   

    function changeEventColor(event, color) {
        event.css("background-color", color);
    }

    $('#calendar').fullCalendar({
        locale: 'cs',
        header: {
            left: 'prev, next today',
            center: 'title',
            right: 'month, basicWeek, basicDay'
        },
        defaultView: 'month',
        eventClick: function (event) {
            // Přesměrování na jinou stránku po kliknutí na událost
                    var viewName = event.title.replace(' + ', '_').replace(' ', '_')
                    var dateParam = moment(event.start).format("YYYY-MM-DD");
                    window.location.href = '/' + tpInfo[0].druhTP + tpInfo[0].stylTP + '/' + viewName + '?date=' + dateParam; // Změňte URL podle vašich potřeb
        },
        eventMouseover: function (event, jsEvent, view) {
            // Změna barvy při najetí myši
           // barva = event.backgroundColor; // Uchování původní barvy
                    changeEventColor($(this), "#859199"); // Změňte barvu podle potřeby
        },
        eventMouseout: function (event, jsEvent, view) {
            // Vrácení původní barvy po opuštění myši
           // var x = "red";
            changeEventColor($(this), event.color); // Vrácení původní barvy
        },
        events: eventy,
        firstDay: 1
        
    }
    )
}
)


function submitFeedback() {
    var novaVaha = document.getElementById("vaha").value;
    var dataVPohode = 1;
    if (novaVaha > staraVaha) {
        if (novaVaha - 11 > staraVaha) {
            dataVPohode = 0;
        }
    } else {
        if (novaVaha + 11 < staraVaha) {
            dataVPohode = 0;
        }
    }
    alert("Zadejte prosím pravdivé údaje.");

    if (dataVPohode === 1) {
        $.ajax({
            url: '/TP/AktualizaceVahy',
            type: 'POST',
            //contentType: 'application/json',
            data: novaVaha,

            success: function (response) {
                // Zde můžete zpracovat odpověď od serveru, pokud je to potřeba
                location.reload(true);
            },
            error: function (xhr, status, error) {
                // Zde můžete zpracovat chyby, které se vyskytnou při odesílání dat na server
                console.log("chyba");
            }
        });
    }
}


</script> 


}
