@model NahledPlanuModel

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div id="vsechno">
    <h2 class="display-4">Tréninkový plán</h2>

    <h2 class="mt-3">Konkrétní tréninky</h2>

    @foreach (var trenink in Model.Treninky)
    {
        <h3 class="mt-4">@trenink.TypTreninku (@trenink.DatumTreninku.ToString("dd/MM/yyyy"))</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Název</th>
                        <th scope="col">Počet sérií</th>
                        <th scope="col">Počet opakování</th>
                        <th scope="col">Pauza mezi sériemi</th>
                        <th scope="col">Partie</th>
                        <th scope="col">Popis cviku</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cvik in trenink.Cviky)
                    {
                        var indexTTP = 0;
                        @if (Model.TP.DruhTP == "BSH")
                        {
                            @if (Model.TP.StylTP == "VM")
                            {
                                @if (@trenink.TypTreninku == "Nohy")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHVMNohy");
                                }
                                else if (@trenink.TypTreninku == "Ramena + biceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHVMRamBic");
                                }
                                else if (@trenink.TypTreninku == "Záda")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHVMZada");
                                }
                                else if (@trenink.TypTreninku == "Hrudník + triceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHVMHrTric");
                                }

                            }
                            else if (Model.TP.StylTP == "PPL")
                            {
                                if (@trenink.TypTreninku == "Push")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHPPLPush");
                                }
                                else if (@trenink.TypTreninku == "Pull")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHPPLPull");
                                }
                                else if (@trenink.TypTreninku == "Legs")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHPPLLegs");
                                }
                            }
                            else if (Model.TP.StylTP == "KR")
                            {
                                if (@trenink.TypTreninku == "Kruhový trénink 1")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHKR1");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 2")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHKR2");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 3")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("BSHKR3");
                                }
                            }

                        }
                        else if (Model.TP.DruhTP == "SR")
                        {
                            if (Model.TP.StylTP == "VM")
                            {
                                if (@trenink.TypTreninku == "Nohy")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRVMNohy");
                                }
                                else if (@trenink.TypTreninku == "Ramena + biceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRVMRamBic");
                                }
                                else if (@trenink.TypTreninku == "Záda")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRVMZada");
                                }
                                else if (@trenink.TypTreninku == "Hrudník + triceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRVMHrTric");
                                }
                            }
                            else if (Model.TP.StylTP == "PPL")
                            {
                                if (@trenink.TypTreninku == "Push")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRPPLPush");
                                }
                                else if (@trenink.TypTreninku == "Pull")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRPPLPull");
                                }
                                else if (@trenink.TypTreninku == "Legs")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRPPLLegs");
                                }
                            }
                            else if (Model.TP.StylTP == "KR")
                            {
                                if (@trenink.TypTreninku == "Kruhový trénink 1")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRKR1");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 2")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRKR2");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 3")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("SRKR3");
                                }
                            }
                        }
                        else if (Model.TP.DruhTP == "RV")
                        {
                            if (Model.TP.StylTP == "VM")
                            {
                                if (@trenink.TypTreninku == "Nohy")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVVMNohy");
                                }
                                else if (@trenink.TypTreninku == "Ramena + biceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVVMRamBic");
                                }
                                else if (@trenink.TypTreninku == "Záda")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVVMZada");
                                }
                                else if (@trenink.TypTreninku == "Hrudník + triceps")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVVMHrTric");
                                }
                            }
                            else if (Model.TP.StylTP == "PPL")
                            {
                                if (@trenink.TypTreninku == "Push")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVPPLPush");
                                }
                                else if (@trenink.TypTreninku == "Pull")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVPPLPull");
                                }
                                else if (@trenink.TypTreninku == "Legs")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVPPLLegs");
                                }
                            }
                            else if (Model.TP.StylTP == "KR")
                            {
                                if (@trenink.TypTreninku == "Kruhový trénink 1")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVKR1");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 2")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVKR2");
                                }
                                else if (@trenink.TypTreninku == "Kruhový trénink 3")
                                {
                                    indexTTP = cvik.TypyTreninku.IndexOf("RVKR3");
                                }
                            }
                        }

                        <tr>
                            <td>@cvik.Nazev</td>
                            <td>@cvik.PočtySérií[indexTTP]</td>
                            <td>@cvik.PočtyOpakování[indexTTP]</td>
                            <td>@cvik.PauzyMeziSériemi[indexTTP]</td>
                            <td>@cvik.Partie</td>
                            <td>@cvik.PopisCviku</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <p>Náhled byl vygenerován pomocí aplikace pro tvorbu tréninkových plánů. &copy; @DateTime.Now.Year - Jiří Mlčoušek</p>
</div>

<script>
    var element = document.getElementById('vsechno');

    var opt = {
        margin: 0.965,
        filename: 'vsechny_tréninky.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
    };

    html2pdf().set(opt).from(element).save();

   

    setTimeout(function () {
        window.location.href = "/TP/Index";
    }, 10000);
    //window.location.href = "/TP/Index";
</script>