@model BP_TPWA.Models.Cvik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cvik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Název)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Název)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PočtyOpakování)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PočtyOpakování)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PočtySérií)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PočtySérií)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PauzyMeziSériemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PauzyMeziSériemi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopisCviku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopisCviku)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CvikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
