@model IEnumerable<BP_TPWA.Models.Cvik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Název)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PočetOpakování)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PočetSérií)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PauzaMeziSériemi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopisCviku)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Název)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PočetOpakování)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PočetSérií)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PauzaMeziSériemi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopisCviku)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CvikId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CvikId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CvikId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
